.app_recipes{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem auto;
    margin: 2rem auto;
    justify-content: space-between;
}

.App-header .app-title{
    color: rgb(25, 65, 241);
    text-shadow: rgb(245, 69, 92) 1px 0 10px;
    padding: 2rem;
}

.search-form input[type="text"]{
    margin: auto;
    width:50%;
    padding: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.search-form input[type="submit"]{
    margin: auto;
    width:50%;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
}

.search-form input[type="submit"]:hover{
    background-color:rgb(97, 141, 236);
    color: red;
}

@media (max-width:930px){
    .app_recipes{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:700px){
    .app_recipes{
        grid-template-columns: 1fr;
    }
}

